---
import Layout from "../layouts/Layout.astro";
import Header from "../components/home/Header.astro";
import H3 from "../components/ux/H3.astro";
import Bannercontero from "../components/home/Bannercontero.astro";
import Galeria from "../components/home/Galeria.astro";
import Seccion1 from "../components/home/Seccion1.astro";
import Card1 from "../components/Card1.astro";
import H2 from "../components/ux/H2.astro";
import Parrafo1 from "../components/ux/Parrafo1.astro";
import Button1 from "../components/ux/Button1.astro";
import HastagYPlaylist from "../components/home/HastagYPlaylist.astro";
import Vestimenta from "../components/home/Vestimenta.astro";
import H1 from "../components/ux/H1.astro";
import TuPresencia from "../components/home/TuPresencia.astro";
---

<Layout title="Enlace Rama & Carla">
  <Header />

  <main
    class="flex flex-col items-center justify-normal w-full text-primary-text"
  >
    <Bannercontero />
    <Seccion1>
      <Card1
        parrafo={"22 de Noviembre a las 19:00 hs en la Iglesia Nuestra Señora delCarmen, Villa Allende, Córdoba. Recibí debajo las indicaciones parallegar."}
        h3="Ceremonia"
        labelBoton="llegar a la ceremonia"
      >
        <svg
          height="200px"
          width="200px"
          class="w-1/2 m-auto"
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 512 512"
          xml:space="preserve"
          fill="#000000"
          ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
            <polygon
              style="fill:#E6E6E6;"
              points="255.897,77.247 116.377,209.543 116.377,503.367 395.416,503.367 395.416,209.543 "
            ></polygon>
            <path
              style="fill:#FCC447;"
              d="M318.748,503.365v-114.15c0-34.719-28.135-62.854-62.854-62.854 c-34.708,0-62.843,28.135-62.843,62.854v114.15"
            ></path>
            <polygon
              style="fill:#CCCCCC;"
              points="255.897,77.247 116.377,209.543 116.377,257.892 255.897,125.597 395.416,257.892 395.416,209.543 "
            ></polygon>
            <circle style="fill:#FC675B;" cx="255.895" cy="224.813" r="51.561"
            ></circle>
            <path
              d="M465.135,263.654l-200.5-190.12V39.223h11.949c4.769,0,8.634-3.866,8.634-8.634s-3.865-8.634-8.634-8.634h-11.949V8.634 c0-4.768-3.864-8.634-8.634-8.634c-4.769,0-8.634,3.866-8.634,8.634v13.321h-11.95c-4.769,0-8.634,3.866-8.634,8.634 s3.864,8.634,8.634,8.634h11.95v34.311L46.866,263.654c-3.46,3.281-3.605,8.745-0.325,12.206c3.281,3.46,8.747,3.605,12.206,0.325 L256.001,89.144l130.885,124.109v281.48h-59.402v-105.52c0-39.419-32.068-71.488-71.488-71.488 c-39.412,0-71.476,32.069-71.476,71.488v105.52h-59.406v-252.41c0-4.768-3.864-8.634-8.634-8.634c-4.769,0-8.634,3.866-8.634,8.634 v261.044c0,4.768,3.865,8.634,8.634,8.634h279.04c4.769,0,8.634-3.866,8.634-8.634v-273.74l49.1,46.558 c1.669,1.583,3.806,2.369,5.939,2.369c2.286,0,4.569-0.902,6.266-2.694C468.74,272.399,468.595,266.934,465.135,263.654z M201.788,389.212c0-29.897,24.317-54.22,54.209-54.22c29.897,0,54.22,24.323,54.22,54.22v105.52h-45.587V351.108 c0-4.768-3.864-8.634-8.634-8.634s-8.634,3.866-8.634,8.634v143.624h-45.575V389.212z"
            ></path>
            <path
              d="M279.6,448.958c4.769,0,8.634-3.866,8.634-8.634v-17.268c0-4.768-3.864-8.634-8.634-8.634c-4.769,0-8.634,3.866-8.634,8.634 v17.268C270.966,445.093,274.83,448.958,279.6,448.958z"
            ></path>
            <path
              d="M232.402,414.423c-4.769,0-8.634,3.866-8.634,8.634v17.268c0,4.768,3.864,8.634,8.634,8.634 c4.769,0,8.634-3.866,8.634-8.634v-17.268C241.035,418.289,237.17,414.423,232.402,414.423z"
            ></path>
            <path
              d="M256.003,285.009c33.192,0,60.195-27.003,60.195-60.195s-27.003-60.196-60.195-60.196s-60.195,27.004-60.195,60.196 S222.811,285.009,256.003,285.009z M213.948,233.448h33.421v33.421C230.613,263.434,217.383,250.204,213.948,233.448z M264.637,266.869v-33.421h33.421C294.623,250.204,281.393,263.434,264.637,266.869z M298.058,216.18h-33.421v-33.422 C281.393,186.193,294.623,199.423,298.058,216.18z M247.369,182.758v33.422h-33.421 C217.383,199.423,230.613,186.193,247.369,182.758z"
            ></path>
          </g></svg
        >
      </Card1>
      <Card1
        parrafo={" ¡Te espero el Sábado 25 de noviembre de 21:00 a 05:00 hs para festejar este gran momento de mi vida! Salón Campo Norte, Ruta E53, Córdoba. Clickeá en el botón de abajo y encontrá las indicaciones para llegar, ¡nos vemos!😉"}
        h3="Celebracion"
        labelBoton="llegar a la fiesta"
      >
        <svg
          viewBox="0 0 64 64"
          class="w-1/2 m-auto my-10"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          aria-hidden="true"
          role="img"
          class="iconify iconify--emojione"
          preserveAspectRatio="xMidYMid meet"
          fill="#000000"
          ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
            <path fill="#f7b600" d="M2 61l8.6-3l-6.5-3z"> </path>
            <path fill="#ffdd7d" d="M26.9 36.4L14.8 24.2l-2 5.6z"> </path>
            <path
              fill="#f7b600"
              d="M12.8 29.8l-2.2 6.3l26.8 12.5l1.3-.4l-11.8-11.8z"
            >
            </path>
            <path fill="#ffdd7d" d="M8.5 42.4l20 9.3l8.9-3.1l-26.8-12.5z">
            </path>
            <path fill="#f7b600" d="M6.3 48.7l13.2 6.2l9-3.2l-20-9.3z"> </path>
            <path fill="#ffdd7d" d="M6.3 48.7L4.1 55l6.5 3l8.9-3.1z"> </path>
            <path
              d="M31.9 31.2c6.7 6.6 10.2 14 7.8 16.4c-2.5 2.4-9.9-1-16.7-7.7c-6.7-6.6-10.2-14-7.8-16.4c2.5-2.4 9.9 1.1 16.7 7.7"
              fill="#493816"
            >
            </path>
            <path
              d="M23.5 14.5c-1.6-2.3.1-3.3 2.3-2.9c-2.1-2.5-.8-4.3 2.5-3.6c1 .2-.4 1.9-1.3 1.9c2.7 2 1.2 4.2-1.7 3.7c2.6 3.5-1.8 2.6-3.8 2.8C21 19 24 22 23 22c-2.2 0-5.8-8.3.5-7.5"
              fill="#42ade2"
            >
            </path>
            <path
              d="M44.5 19.3c-1.5.7-5.7-5.9-.5-6c-3-2.7-2.6-4 1.4-4.1c-4.6-4.6 2.7-6.2 3.4-3.8c.2.7-2.2-.6-3 .7c-.9 1.5 5.6 5.4-1.1 5.1c2.5 2.5 2.6 3.7-1.3 4.1c.5.8 2.1 3.6 1.1 4"
              fill="#ff8736"
            >
            </path>
            <path
              d="M46.2 34.9l1.5-1.3s1.4 2.1 2.4 2.9c.8-3.6.6-5.7 4.7-3.3c-2.3-6.2 1.5-3.9 5.2-2.2c-.2-1.6 0-1.4 1.6-1.9c1.4 5.3-2.4 3.7-5.4 2c1.8 4.8-.1 4.5-3.9 2.9c-.1 2-.7 4.3-1.9 4.5c-1.4.4-4.2-3.6-4.2-3.6"
              fill="#ed4c5c"
            >
            </path>
            <path
              d="M35 20.1c-1.8 2.4-4.7 3.7-6.8 5.8c-2.2 2.2-3.5 8.2-3.5 8.2s.8-6.3 2.9-8.7c1.9-2.2 4.7-3.8 6.2-6.3c2.6-4.6.2-10.6-3.2-14.1c.7-.6 1.7-1.4 2.2-2c3.3 4.1 6.1 12 2.2 17.1"
              fill="#c28fef"
            >
            </path>
            <path
              d="M38.1 25.2c-2.6 1.9-4.5 4.7-6.3 7.3c-1.6 2.3-6.7 5.2-6.7 5.2s4.8-3.3 6.3-5.7c1.8-3 3.6-6.1 6.4-8.3c5.6-4.3 13.7-3.9 20-1.6c-.4.9-1.1 2.8-1.1 2.8s-13.3-3.6-18.6.3"
              fill="#ff8736"
            >
            </path>
            <g fill="#42ade2">
              <path
                d="M49.2 24.7c-1.7 2.2-2.5 4.9-3.8 7.4c-1.2 2.3-2.8 4.5-5.1 5.7c-2.6 1.3-8.3.9-8.3.9s5.7-.1 8.1-1.7c2.4-1.6 3.7-4.4 4.6-7c1.8-5 4-10.4 9.2-12.6c.3.9 1 2.8 1 2.8s-2.9.8-5.7 4.5"
              >
              </path>
              <path d="M3.21 14.325l2.828-2.829l2.829 2.828l-2.828 2.83z">
              </path>
            </g>
            <path
              fill="#ff8736"
              d="M7.173 23.197L10 20.369l2.828 2.828L10 26.025z"
            >
            </path>
            <path
              fill="#ed4c5c"
              d="M14.358 9.822l2.828-2.828l2.828 2.828l-2.828 2.828z"
            >
            </path>
            <path
              fill="#c28fef"
              d="M45.205 43.696l2.828-2.829l2.828 2.829l-2.828 2.828z"
            >
            </path>
            <path
              fill="#ed4c5c"
              d="M38.903 53.39l2.828-2.828l2.829 2.829l-2.829 2.828z"
            >
            </path>
            <path
              fill="#ff8736"
              d="M51.279 55.607l2.828-2.829l2.828 2.829l-2.828 2.828z"
            >
            </path>
            <g fill="#42ade2">
              <path d="M54.078 42.731l2.828-2.828l2.828 2.828l-2.828 2.829z">
              </path>
              <path d="M49.356 12.823l2.828-2.829l2.829 2.829l-2.828 2.828z">
              </path>
            </g>
            <path
              fill="#ed4c5c"
              d="M19.044 29.792l2.829-2.828l2.828 2.828l-2.828 2.829z"
            >
            </path>
          </g></svg
        >
      </Card1>
    </Seccion1>

    <Seccion1 clase="flex md:flex-col py-20">
      <H2>Un poco de Nosotros</H2>
      <Galeria />
    </Seccion1>
    <!-- codigo de vestimenta -->
    <Seccion1 clase="bg-primary-text ">
      <Vestimenta />
    </Seccion1>

    <!-- paylist y compartido -->

    <Seccion1 clase="min-h-screen relative items-start">
      <HastagYPlaylist />
    </Seccion1>
    <!-- presencia -->
    <Seccion1 clase="min-h-screen relative items-center relative">
      <TuPresencia />
    </Seccion1>
    <!-- confirmacion -->
    <Seccion1 clase="min-h-screen relative items-center relative">
      <div class="flex flex-col gap-4 items-center min-h-screen justify-center">
        <H1 clase="text-center py-2 w-1/2">¡Te Esperamos!</H1>
        <Parrafo1 clase="bg-white px-5 py-2 rounded skew-2"
          >Confirma tu presencia enviando un whatsapp hasta el 14 de febrero.
          Clickeá en este boton</Parrafo1
        >
        <Button1>confirmar presencia</Button1>
      </div>
	  <div class="absolute h-full">
		<img src="/lineas.png" width="1254" height="854" alt="lineas" class="h-full object-contain opacity-50 ">
	  </div>
    </Seccion1>
  </main>
</Layout>
