---
import CardImagenes from "../CardImagenes.astro";


---


<!-- galerua -->
<div class="flex min-h-screen w-full flex-wrap items-center justify-center md:px-5  ">
    <div class="grid md:grid-cols-3 grid-cols-2 gap-3 galeria">
    
  <CardImagenes src="/galeria/1.jpg"/>
  <CardImagenes src="/galeria/2.jpg"/>
  <CardImagenes src="/galeria/3.jpg"/>
  <CardImagenes src="/galeria/4.jpg"/>
  <CardImagenes src="/galeria/5.jpg"/>
  <CardImagenes src="/galeria/6.jpg"/>
 
   
  
    
    </div>
  </div>