---
import Button1 from "../ux/Button1.astro";


---
<div class="md:w-1/2 pl-10 md:pl-0 flex flex-col items-start gap-10">
    <div>
      <h1 class="text-4xl italic my-2">#CarlaYRamiro</h1>
      <p class="text-sm my-2">
        Mira y comparti momentos del casamiento, en Instagram, con este
        hashtag
      </p>
      <Button1> Ver fotos en Instagram</Button1>
    </div>
    <div>
      <h1 class="text-4xl italic my-2">Playlist</h1>
      <p class="text-sm my-2">
        ¡Ayudanos con la música que no puede faltar en nuestra fiesta!
      </p>
      <Button1> Agrega los temas</Button1>
    </div>
  </div>
  <div class="absolute top-0 right-0 w-1/2">
    <img
      src="/hashtag-flores.png"
      alt="flores"
      width="1254"
      height={854}
      class="w-auto h-1/2"
    />
  </div>