---
import Button1 from "../ux/Button1.astro";
import H1 from "../ux/H1.astro";
import Parrafo1 from "../ux/Parrafo1.astro";


---
<div class="bg-white/90 hover:rotate-0 duration-300 -rotate-1 backdrop-blur-sm md:w-10/12 w-11/12 md:h-[85vh] flex flex-col gap-4 items-center p-10 rounded-md shadow-lg justify-center">
    <H1 clase="text-center py-2 md:w-1/2">¡Tu Presencia es el mejor Regalo!</H1>
    <Parrafo1>Pero si querés, podes ayudarnos con nuestro viaje</Parrafo1>
    <Button1>mostrar datos de cuenta</Button1>
   </div>
   <div class="bottom-0 left-0 absolute w-1/3 ">
       <img
       src="/hashtag-flores.png"
       alt="flores"
       width="1254"
       height={854}
       class="w-auto h-1/2 rotate-180"
     />
   </div>