---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="bg-gradient-to-t from-primary-500 via-amber-50 min-h-screen">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="w-full flex flex-col items-center justify-normal overflow-x-hidden">
		<slot />
	</body>
</html>
<style is:global>
@font-face {
  font-family: 'segoepr';
  src: url('/fonts/SEGOEPR.TTF') format('ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'segoepr';
  src: url('/fonts/SEGOEPRB.TTF') format('ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'sackergothic';
  src: url('/fonts/SackersGothicStdMedium.otf') format('otf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'sackergothicNormal';
  src: url('/fonts/SackersGothicStdLight.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
</style>
